/* 基础样式 */
.dx-textarea {
  width: 100%;
  min-height: 4rem;
  box-sizing: border-box;
  padding: 8px 12px;
  border: none;
  border-radius: 0.5rem;
  margin: 0;
  appearance: none;
  background: none;
  color: var(--secondary-color-4);
  font-family: inherit;
  line-height: 1.5;
  outline: none;
  resize: vertical;
  transition: background-color 100ms ease-out, border-color 100ms ease-out, box-shadow 100ms ease-out;
}

.dx-textarea:disabled {
  color: var(--secondary-color-5);
  cursor: not-allowed;
}

.dx-textarea::placeholder {
  color: var(--secondary-color-5);
}

/* 默认变体 */
.dx-textarea[data-style="default"] {
  background: var(--primary-color);
  box-shadow: inset 0 0 0 1px var(--primary-color-6);
}

.dx-textarea[data-style="default"]:hover:not(:disabled),
.dx-textarea[data-style="default"]:focus {
  background: var(--primary-color-4);
  color: var(--secondary-color-1);
}

/* 淡化变体 */
.dx-textarea[data-style="fade"] {
  background: var(--primary-color);
}

.dx-textarea[data-style="fade"]:hover:not(:disabled),
.dx-textarea[data-style="fade"]:focus {
  background: var(--primary-color-4);
  color: var(--secondary-color-1);
}

/* 描边变体 */
.dx-textarea[data-style="outline"] {
  border: 1px solid var(--primary-color-6);
  background-color: var(--primary-color);
}

.dx-textarea[data-style="outline"]:hover:not(:disabled, :focus) {
  border-color: var(--primary-color-7);
}

.dx-textarea[data-style="outline"]:focus {
  border-color: var(--focused-border-color);
}

.dx-textarea[data-style="outline"]:invalid,
.dx-textarea[data-style="outline"][aria-invalid="true"] {
  border-color: var(--primary-error-color);
}

/* 透明变体 */
.dx-textarea[data-style="ghost"] {
  background-color: transparent;
}

.dx-textarea[data-style="ghost"]:hover:not(:disabled) {
  background-color: var(--primary-color-5);
  color: var(--secondary-color-1);
}

.dx-textarea[data-style="ghost"]:focus {
  border-color: var(--focused-border-color);
}
